<section class="container my-5">
  <div class="row">
      <%# <%= link_to user_avatar(@user.photo), user_path(@user), class: "col-2" %> %>
      <div class="col-10 p-2">
        <div class="d-flex justify-content-between">
          <h3>user</h3>
          <%= link_to "Edit", edit_user_path(@user), class: "text-decoration-none" %>
        </div>
      </div>
  </div>
  <div class="actions m-3 text-center">
    <%= link_to "Account settings", edit_user_registration_path, class: "text-decoration-none btn btn-outline-primary" %>
  </div>
</section>

<div class="mb-3 px-5">
  <%= link_to "< Back", :back, class: "text-decoration-none" %>
</div>