<h1 class="text-center p-3">New recipe</h1>

<%= render "form", category: @category %>

<br>

<div class="px-5">
  <%= link_to "< Back to category", categories_path, class: "text-decoration-none" %>
</div>