<% if notice %>
    <div class="container col-6 fixed-top notice-alert text-center alert alert-success alert-dismissible fade show" role="alert">
        <p class="notice m-0"><%= notice %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>

<% if alert %>
    <div class="container col-6 fixed-top notice-alert text-center alert alert-warning content-margin alert-dismissible fade show" role="alert">
        <p class="alert m-0"><%= alert %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>