                 <nav class="navbar navbar-expand-lg fixed-top navbar-dark dark-blue">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="back-arrow">
                  <%= link_to embedded_svg('left1.svg'), goto_path %>
                  </span>
                </button>
                <a class="navbar-brand d-flex w-100 brand-a" href="#"><%=check%></a>
                </nav>